@media (max-width:991px) {
  div.col-lg-2.col-md-2 {
    margin:0 auto;
    padding:10px;
  }
}

@media (max-width:1199px) {
  div.col-lg-2.col-md-2.col-sm-2.text-center {
    padding:20px;
  }
}

@media (min-width:1200px) {
  div.col-lg-2.col-md-2.col-sm-2.text-center {
    padding:20px;
  }
}

@media (max-width:991px) {
  div.col-lg-2.col-md-2.col-sm-2.text-center {
    padding:10px;
  }
}

#jumbotron-row {
  margin-top:700px;
}

.img-responsive {
  margin:0 auto;
}

.sidebar-bricks {
  margin-top:200px;
}

.email-jumbotron {
  background-color:#FCCB00;
  border-style:solid;
  border-color:#FFAC00;
  border-width:8px;
  /*display:flex;*/
  /*align-items:center;*/
  /*transform:translateY(50%);*/
  /*position:absolute;*/
  margin:65px 0px 0px 0px;
  /*justify-content:center;*/
}

