body {
  font-family:'Press Start 2P';
  font-size:14px;
  line-height:1.42857143;
  color:#fff;
  background-color:#000;
  /*background-image:url(../../assets/img/backgroundani.gif);*/
  /*background-repeat:no-repeat;*/
  /*background-size:cover;*/
  height:1920px;
  /*width:1080px;*/
  /*background-position:center right;*/
  overflow-y:hidden;
  /*overflow-x:hidden;*/
}

.navbar-inverse .navbar-nav > li > a {
  color:#fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color:#fff;
  cursor:default;
  background-color:#000;
  border:1px solid #ddd;
  border-bottom-color:transparent;
}

a {
  color:#fff;
  text-decoration:none;
}

a:focus, a:hover {
  color:#fff;
  text-decoration:underline;
}

a:focus, a:hover {
  color:#23527c;
  text-decoration:underline;
}

a:focus, a:hover {
  color:#23527c;
  text-decoration:underline;
}

.navbar-inverse {
  background-color:#000;
  border-color:#000;
  /*border-bottom:5px solid white;*/
  background:#000;
  /*padding-bottom:34px;*/
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .time-container {
  color:#fff;
  background-color:#080808;
  border:3px solid white;
  border-radius:20px;
}

